
.container {
    width: 100%;
    height: 400px; 
    background-color: yellow; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.lista {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    width: 100%;
}


.elem {
    width: 100px; 
    height: 100px; 
    background-color: purple; 
}
li{
    list-style: none;
}