
.kont
{
    
    display: flex;
    flex-direction: column-reverse;
    flex-flow: initial;
    flex-direction: row-reverse;
    
    
}

.zold
{
   background-color: greenyellow;
   width: 100%;
    height: 300px;  
   
   
}
.sarga
{
    background-color: rgb(242, 245, 101);
    width: 100%;
    height: 300px;  
   
}
.lila
{
background-color:rgb(141, 100, 141);
    width: 100%;
    height: 300px;  

}