* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #df972c5e;
    font-size: 27px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color: #855702;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-section input {
    width: 70%;
    padding: 0.5rem;
}

.input-section button {
    padding: 0.5rem 1rem;
    background-color: #855702;
    color: white;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

#error {
    color: red;
    text-align: center;
}

#results {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
img{
    width: 370px;
    height: 370px;
    padding: 15px;
}